# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = tai m.
	email = secondubly@gmail.com
[init]
	defaultBranch = main
[web]
	browser = firefox

